.wp-caption {
	margin-bottom: 0;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}
	.wp-caption-text {
    text-align: center;
    color: $verylightgray;
    background: $color1;
    margin: 0;
    padding: $baseline / 2 0;
	}
}

figure {
  margin: 0 $baseline * 2 0 0;
}