.gallery {
	margin-bottom: 1.5em;
  display: inline-block;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
  margin: 0;
  padding: 0 3px;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: none;
/*  color: $lightgray;
  font-size: $small-font-size;*/
}
#cboxContent {
  margin-top: $baseline * 2;
}
#cboxTitle {
  color: $color1;
  font-size: $normal-font-size;
  width: 75%;
}
#cboxLoadedContent {
  background: $color1;
  padding: $baseline;
}
#cboxClose {
  background: none;
  color: transparent;
  text-indent: 0;
  &:after {
    font: $font-awesome;
    content: "\f00d";
    color: $color2;
    font-size: $baseline * 2;
    width: $baseline * 2;
    height: $baseline * 2;
    right: 0;
    top: -$baseline;
    position: absolute;
    @include transition(color, .2s);
  }
  &:hover, &:focus {
    &:after {
      color: $color3;
    }
  }
}
#cboxPrevious {
  background: none;
  color: transparent;
  text-indent: 0;
  &:after {
    font: $font-awesome;
    content: "\f054";
    color: $color2;
    font-size: 29px;
    width: 29px;
    height: 29px;
    right: 10px;
    top: -12px;
    position: absolute;
    @include transition(color, .2s);
  }
  &:hover, &:focus {
    &:after {
      color: $color3;
    }
  }
}
#cboxNext {
  @extend #cboxPrevious;
  &:after {
    content: "\f053";
    color: $color2;
    right: 70px;
  }
}