.main-navigation {
	clear: both;
	display: block;
	width: 100%;
  padding-top: $baseline / 2;
  .swoosh-up {
    height: 62px;
    width: 132px;
    //margin-top: -$baseline / 2;
    float: left;
    margin-left: 300px;
    //background: url("img/swoosh-up.png") no-repeat scroll 0 0 transparent;
  }
  .end-cap {
    background: url("img/nav-end-cap.png");
    background-size: contain;
    width: $baseline / 2;
    height: $baseline / 2;
    float: right;
    position: relative;
    top: -$baseline / 2;
    right: -2px;
  }
  
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
/*    &.quote-panel-expanded {
      > li.request-quote-link a {
        background-color: $color2;
      }
    }*/

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

/*			a {
				width: 120px;
        text-align: center;
			}*/

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
    
	}
	
	li {
		float: left;
		position: relative;
    div {
      background: $color1;
    }

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: inline-block;
		text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    text-align: center;
    font-size: $small-font-size;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}
.menu-primary-menu-container {
  >ul {
    float: right;
  }
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
    margin-top: -11px;
    margin-bottom: -10px;
    >li {
      //border-top: 8px $color1 solid; 
      div {
        padding-top: 8px;
        display: table;
        height: 62px;
      }
     // margin-top: 8px;
    //  border-left: 1px $color1 solid;
    //  height: 54px;
      display: table;
      background: $white;
      a {
        display: table-cell;
        @include transition(background-color .2s);
          
        padding: 8px 8px 7px;
        vertical-align: middle;
        color: $color1;
        text-shadow: 0.5px 0.5px 0px $lightgray;
        background-color: $white;
        &:hover {
          color: $color2;
          background-color: $verylightgray;
        }
        border-right: 1px solid $lightgray;
      }
      &.request-quote-link {
        background: $color1;
        border-top-right-radius: $baseline / 2;
        a {
          color: $white;
          background: $color1;
          margin-right: 8px;
/*          &:after {
            width: 30px; 
            height: 30px;
            content: url("img/request-quote.png");
          }*/
          &:hover {
            background: $color2;
          }
        }
        &:after {
          content: '';
          width: 20px;
          height: 20px;
          background: $color1;
          border-bottom-left-radius: $baseline / 2;
        }
      }
      &:first-of-type {
      //  border-top-left-radius: 22px;
        a {
        //  border-top-left-radius: $baseline / 2;
        }
      }
      &:last-of-type {
        div {
         border-top-right-radius: $baseline / 2;
        }
        a {
          border-right: 8px $color1 solid;
        //  border-top-right-radius: $baseline / 2;
        }
      }
      &:hover {
        background-color: $verylightgray;
      }
      &.current-menu-item {
        background: $verylightgray;
        position: relative;
        border-top-color: $color2;
        box-sizing: border-box;
        a {
          color: $color2;
          background: $verylightgray;
        }
        &:after {
          z-index: 50;
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          bottom: -9px;
          left: 53px;
          box-sizing: border-box;
          background-color: $verylightgray;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
          //redo this in compass
          @include transform-origin(0 0);
          @include transform(rotate(-45deg));
          //transform: rotate(-45deg);
          //@include box-shadow($lightgray -3px 3px 3px 0);
        }      
      }
    }
	}
}
.site-header.quote-panel-expanded {
  border-color: $color2;
  li.request-quote-link a {
    background-color: $color2;
  }
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
