.site-header {
 // @include box-shadow($lightgray 0px 3px 3px);
  border-bottom: 1px solid $color1;
  height: 72px;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: $white;
  @include transition(border-color, .2s);
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}
.nav-home {
  background: url("img/jetstream-aviation-logo.png") no-repeat scroll 0 0 transparent;
  background-size: contain;
  position: absolute;
  height: 50px;
  width: 271px;
  margin-top: 4px;
}
.site-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.site-description {
  margin-left: 360px; 
  font-size: $h1-font-size;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}
.site-branding {
  margin-top: $baseline / 2;
  margin-bottom: $baseline / 2;
}
.request-quote {
  //max-height: 0;
  //display: none;
  padding-top: 72px;
  height: 0;
  //background: $color2;
  background: url("img/cloud-background.png") no-repeat top left $color2;
  //background-size: contain;
  z-index: 1000;
  //margin-top: -1px;
 
  .inner {
    width: 1260px;
    margin: 0 auto;
    //display: table;
    display: none;
  }
  &.expand {
    .inner {
      display: table;
      //max-height: 300px;
      height: auto;
//      padding-bottom: $baseline;
    }
/*    margin-top: -1px;*/
  }

  ul {
    list-style: none;
    margin: 0;
    li {
      float: left;
      &.quote-comments {
        float: none;
        width: calc(100% - #{$baseline * 2});
      }
    }
  }
  h4 {
    color: $verylightgray;
    text-transform: uppercase;
    text-align: center;
    margin-top: $baseline * 1.5;
  }
  //@include transition(max-height .2s);
  &.expand {
    display: block;
    //max-height: 300px;
    height: 100%;
    padding-bottom: $baseline;
/*    margin-top: -1px;*/
  }
  input { 
    width: 280px;
    margin: $baseline / 2 $baseline $baseline / 2 0;
    background: $color2;
    border-color: $lightgray;
    color: $lightgray;
  }
  input[type="text"] {
    @include opacity(0.9);
    &:focus {
      border-color: $white;
      color: $white;
    }
  }

  textarea {
    width: 100%;
    border-color: $lightgray;
    color: $lightgray;
    &:focus {
      border-color: $white;
      color: $white;
    }

  }
  .ginput_container_date {
    //display: inline-block;
    //margin-right: -17px;
/*    img {
      position: relative;
      left: -46px;
      top: 3px;
    }*/
    margin-right: -22px;
    &:after {
      font: $font_awesome;
      color: $lightgray;
      content: "\f073";
      position: relative;
      top: 1px;
      left: -56px;
      display: inline;
    }
  }
  .gf_repeater_add, .gf_repeater_remove {
    span {
      margin-top: $baseline;
      display: inline-block;
      position: relative;
      top: -12px;
      color: $lightgray;
      @include transition(color, .2s);
      font-size: 18px;
      //margin-right: $baseline;
      text-shadow: 0.5px 0.5px 0px $darkgray;
      &:hover {
        color: $white;
      }
    }
  }
  .gf_repeater_add .gf_repeater_add_default, .gf_repeater_remove .gf_repeater_remove_default   {
    background-size: 2em 2em;
    height: 2em;
    width: 2em;
  }
  .gf_repeater_remove {
    margin-left: $baseline;
  }
/*  .gf_repeater_remove .gf_repeater_remove_default {
    margin-left: $baseline;
  }*/
  input[type=submit] {
    margin: $baseline / 2 auto 0;
    display: block;
    &:hover {
      border-color: $white;
      color: $white;
    }
  }
  .check-add-notes {
    float: none;
    width: 100%;
    clear: both;
    ul {
      padding-left: $baseline / 2;
      
    }
  }
  .gfield_checkbox {
    li {
      float: none;
      width: 100%;
    }
    input {
      width: $baseline;
      width: $baseline;
      margin: $baseline / 2 0;
    }
    label {
      text-shadow: 0.5px 0.5px 0px $darkgray;
      position: static;
      display: inline-block;
/*      position: relative;
      top: -12px;*/
      color: $verylightgray;
      margin-right: $baseline;
      overflow: visible;
      width: auto;
      height: auto;
    }
  }
  #close-request-quote {
    width: $baseline * 2;
    height: $baseline * 2;
    color: $lightgray;
    float: right;
    position: relative;
    top: $baseline;
    span {
      font-size: $baseline * 2;
    }
    &:hover {
      color: $white;
    }
  }
  
}