.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $color__border-button;
	@include border-radius( $default_border_radius );
	background: $color__background-button;
  text-transform: uppercase;
	color: $color__border-button;
	line-height: 1;
	padding: $baseline / 2 $baseline;
  @include transition(color, .2s);
  &:visited {
    color: $color__border-button;
  }
	&:hover {
    color: $color__border-button-hover;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

a[target="_blank"] {
  &:after {
    font: $font-awesome;
    content: '\f08e';
    margin-left: 8px;
    font-size: $normal-font-size;
  }
}

input[type="submit"] {
  &:after {
    font: $font-awesome;
    content: '\f003';
    font-size: 12px;
    margin-right: 3px; 
  }
}
