input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 2px solid $color__border-input;
	@include border-radius($default_border_radius);
  background: transparent;
  outline: 0;

	&:focus {
    border-color: $color3;
		color: $color__text-input-focus;
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
::-webkit-input-placeholder {
   color: $mediumgray;
}
:-moz-placeholder { /* Firefox 18- */
   color: $mediumgray;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $mediumgray;  
}
:-ms-input-placeholder {  
   color: $mediumgray;  
}
select {
	border: 2px solid $color__border-input;
 // border: 0;
  //outline: 2px solid $color__border-input;

  height: $baseline * 2;
  @include border-radius($default_border_radius);
  padding: 6px;
  background: transparent;
/*  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  width: 278px;
  //border-color: #444 #333 #333 #444!important;
  //background: url(../images/down-arrow.png) no-repeat 254px 12px;
  .gf_placeholder {
    color: $mediumgray;
  }
/*  &:first-of-type {
    color: $mediumgray;
  }*/
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 6px;
}

textarea {
	padding-left: 6px;
	width: 100%;
}

label {
  @include visually-hidden;
}

//overwrites for gravity forms
.request-quote {
  .ui-datepicker {
    border: 2px solid $color1;
  }
}
.ui-datepicker {
  width: 280px;
  background: $verylightgray;
  @include border-radius(2px);
  .ui-datepicker-header {
    padding: 4px;
    border: 2px solid $verylightgray;
    .ui-datepicker-prev {
      position: absolute;
      left: 8px;
    }
    .ui-datepicker-next {
      position: absolute;
      right: 8px;
    }
    .ui-datepicker-title {
      text-align: center;
    }
  }
  .ui-datepicker-calendar {
    background-color: #fff;
    border: 1px solid $verylightgray;
    td {
      text-align: center;
      border: 1px solid $verylightgray;
      padding: 4px 0;
    }
  }
}
select.ui-datepicker-month, select.ui-datepicker-year {
 // -webkit-appearance: list-box; 
 width: auto;
 height: 24px;
 margin: 0 2px;
 padding: 0;
}

.ui-datepicker {
  z-index: 1000 !important;
}
